<h3>Product List</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <!-- <td>{{ product.image }}</td> -->
            <td>
                <img src="assets/images/{{product.image}}" width="50">
            </td>
            <td>
                <a [routerLink]='["/cart", product.id]'>Buy Now</a>
            </td>
        </tr>
    </tbody>
</table>